
/* navbar css */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --title-color: rgb(46, 182, 46);
}

p {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}
li {
  list-style-position: inside;
}
h1 {
  font-size: 1.8rem;
  text-align: center;
  color: var(--title-color);
}
.title {
  color: var(--title-color);
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  padding: 1%;
}
nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 10vh;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: rgb(157, 214, 157);
  width: 100%;
}
.logo {
  color: green;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  padding-left: 5%;
  width: 60%;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  display: flex;
  justify-content: space-around;
  color: rgb(10, 10, 10);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links li {
  list-style: none;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}
#home {
  padding: 5%;
}
/* Css for Realty Section */
.realty-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.realty-logos {
  width: 65px;
  margin-left: 4em;
}
.realty-span {
  margin-left: 0.4em;
  margin-top: 0.3em;
  font-size: 1.6rem;
}
.realty-partner {
  display: flex;
  width: calc(85% / 3);
  margin-bottom: 2em;
  margin-top: 1em;
  align-content: center;
}

/* Css for Loan Section */
.loan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.loan-logos {
  width: 65px;
  margin-left: 4em;
}
.loan-span {
  margin-left: 0.4em;
  margin-top: 0.3em;
  font-size: 1.6rem;
}
.loan-partner {
  display: flex;
  width: calc(85% / 3);
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Section CSS */
section {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5%;
}

#assist {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#assist_left {
  flex-basis: 25%;
}
#assist_right {
  flex-basis: 40%;
}

/* footer css */
footer {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 45% 10% 45%;
  grid-template-areas:
    "socialmedia footermenu contacts location"
    ". . . ."
    ". copyright copyright .";
  align-items: center;
  justify-content: center;
}

footer img {
  width: 32px;
  height: 32px;
  padding: 3px;
}
#socialmedia {
  grid-area: socialmedia;
  padding-bottom: 2%;
  padding-top: 4%;
}

#footermenu {
  grid-area: footermenu;
  padding-bottom: 2%;
  padding-top: 4%;
}

#contacts {
  grid-area: contacts;
  padding-bottom: 2%;
  padding-top: 4%;
}

#location {
  grid-area: location;
  padding-bottom: 2%;
  padding-top: 4%;
}

#copyright {
  grid-area: copyright;
  padding-bottom: 2%;
}

#footermenu p {
  font-size: small;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
  }
}

@media screen and (max-width: 786px) {
  /* Responsive CSS for nav-links */
  .nav-links {
    position: absolute;
    padding-bottom: 80%;
    left: 0px;
    height: 92vh;
    top: 9.9vh;
    background-color: rgb(192, 247, 192);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    padding-left: 5%;
    width: 20%;
  }
  .logo {
    padding-left: 18%;
    font-size: 1.2rem;
    text-align: center;
  }

  /* CSS for Text */
  * {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--title-color);
  }
  p {
    text-align: center;
  }
  .title {
    color: var(--title-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    padding: 1%;
  }

  /*Responsive Css for Loan Section */
  .loan-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  .loan-logos {
    width: 35px;
    height: 30px;
    margin: 0;
    margin-top: 0.2em;
  }
  .loan-span {
    margin-left: 0.4em;
    margin-top: 0.1em;
    font-size: 1rem;
  }
  .loan-partner {
    display: flex;
    width: calc(85% / 2);
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-left: .7em;
  }

  /*Responsive Css for Realty Section */
  .realty-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  .realty-logos {
    width: 35px;
    height: 30px;
    margin: 0;
    margin-top: 0.2em;
  }
  .realty-span {
    margin-left: 0.4em;
    margin-top: 0.1em;
    font-size: 1rem;
  }
  .realty-partner {
    display: flex;
    width: calc(85% / 2);
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    margin-left: .7em;
  }

 
  /* CSS for assist Section */
  #assist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    margin-left: 1em;
  }
  #assist_left {
    flex-basis: 45%;
  }
  #assist_right {
    flex-basis: 55%;
  }

  /* footer css */
  footer {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-areas:
      "socialmedia footermenu "
      ". ."
      "contacts contacts"
      "location location"
      "copyright copyright";
  }
  footer img {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
  #socialmedia {
    grid-area: socialmedia;
    padding-bottom: 2%;
    padding-top: 4%;
  }
  #footermenu {
    grid-area: footermenu;
    padding-bottom: 2%;
    padding-top: 4%;
  }
  #contacts {
    grid-area: contacts;
    padding-bottom: 2%;
    padding-top: 4%;
    font-size: .8rem;
    font-weight: 100;
  }
  #location {
    grid-area: location;
    padding-bottom: 2%;
    padding-top: 4%;
    font-size: smaller;
    font-weight: 100;
  }
  #copyright {
    grid-area: copyright;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: smaller;
  }
  #footermenu p {
    font-size: small;
    padding: 5px;
    text-align: center;
  }
}
.nav-active {
  transform: translateX(0);
}
