.links {
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: rgb(74,229,49);
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: rgb(255,255,255);
  font-family: Montserrat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: rgb(154,254,54);
}

@media (min-width:768px) {
  section {
    padding: 0px 0;
  }
}

